/* Layout untuk Tablet */
@media (max-width: 1000px) {

    /* Profile */
    .cards {
        flex-wrap: wrap;
    }

    .cards .card {
        width: 25%;
        margin: 10px 15px;
    }
}

/* Layout untuk Smartphone */
/* Tetapkan lebar breakpoint ke 670px dan di bawahnya ke media query */
@media (max-width: 670px) {

    /* Navbar */
    .navbar ul li {
        display: none;
    }

    .logo-brand {
        text-align: center;
        float: none;
        margin: 15px auto;
    }

    /* Hero */
    .hero {
        padding: 175px 50px;
    }

    .hero h1 {
        font-size: 45px;
        margin-bottom: 15px;
    }

    .hero h2 {
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 10px;
    }

    /* Profile */
    .cards {
        flex-direction: column;
    }

    .cards .card {
        width: 75%;
        margin: 10px auto;
    }
}