/* Reset CSS (JANGAN DIHAPUS) */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "oxygen";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: oxygen;
  src: url(../asset/font/oxygen.ttf);
}

/*? Header ?*/
header {
  top: 0;
  z-index: 10;
  width: 100%;
  height: 65px;
  padding: 0px 40px;
  position: fixed;
  box-sizing: border-box;
  background-color: #0C08A7;
  color: white;
}

.logo-brand {
  float: left;
  margin-top: 15px;
}

.logo-brand img {
  width: 75px;
}

.navbar {
  float: right;
}

.navbar ul li {
  list-style: none;
  float: left;
  display: block;
}

.navbar a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: right;
  transition: all 0.5s;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

main {
  margin-top: 65px;
}

/*? Hero ?*/
.hero {
  /* display: none; */
  height: 300px;
  text-align: center;
  background-image: url(/asset/img/hero-bg.png);
  background-size: cover;
  background-position: bottom center;
  color: white;
  padding: 175px 150px;
  overflow: hidden;
}

.hero h1 {
  font-size: 80px;
  margin-bottom: 15px;
}

.hero h2 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 10px;
}

/* ?Profile? */
.profile {
  padding: 0 40px;
  color: #0C08A7;
  text-align: center;
}

.profile-heading {
  margin: 110px 0px;
}

.profile-heading p:first-of-type {
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
}

.profile-heading p:last-of-type {
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  letter-spacing: 0.15em;
}

.cards {
  display: flex;
}

.card {
  flex: auto;
  margin: 15px;
  width: 242px;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgba(9, 7, 102, 0.15);
  transition: 500ms;
}

.card:hover {
  box-shadow: 0px 0px 25px rgba(38, 37, 59, 0.5);
}

.img img {
  border-radius: 50%;
}

.name {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

.job {
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 8px;
  border-bottom: solid 1px #0C08A7;
}

.description {
  color: #01000C;
  padding: 23px 0;
  font-size: 16px;
  line-height: 20px;
}

.sosialMedia a {
  display: inline-block;
  margin: auto 0;
  padding: 0 5px;
}